{% extends 'JoeZafiroBundle:Default:base.html.twig' %}

{% block body -%}
    <h1>Clientes edit</h1>

    {#{ form(edit_form) }#}
	
	{{ form_start(edit_form) }}
	
	{#{ form_row(edit_form.nombre) }#}
	
	{{ form_label(edit_form.nombre) }}
	{{ form_widget(edit_form.nombre) }}

	{{ form_end(edit_form) }}
	
        <ul class="record_actions">
    <li>
        <a href="{{ path('clientes') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
