{% extends 'JoeZafiroBundle:Default:base.html.twig' %}

{% block body -%}
    <h1>Clientes list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <!--<th>Id</th>-->
                <th>Cliente</th>
                <!--<th>Descripcion</th>-->
                <!--<th>Macaddress</th>-->
                <th>Ip</th>
                <th>Plan</th>
                <!--<th>Clientesper</th>-->
                <th>Estado</th>
                
                <!--
                <th>Fechaalta</th>
                <th>Fechabaja</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Cuit</th>
                <th>Email</th>
                <th>Enrutaproxy</th>
                <th>Salidahabilitada</th>
                -->
                <th>Configuracion</th>
                <th>Actividad</th>
                <!--<th>Actions</th>-->
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr {% if entity.estado == 0  %} class="inactivo" {% endif %} >
                <!--<td><a href="{{ path('clientes_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>-->
                <td><a href="{{ path('clientes_show', { 'id': entity.id }) }}">{{ entity.nombre }}<br><i>{{ entity.descripcion }}</i></a></td>
                <!--<td>{{ entity.descripcion }}</td>-->
                <!--<td>{{ entity.macaddress }}</td>-->
                <td><a href="http://{{ entity.ip }}">172.16.0.{{ entity.ip }}</a><br>({{ entity.macaddress }})</td>
                <td>{{ entity.clientesplan }}</td>
                <td>{{ entity.nombreestado }}</td>
                
                <!--
                <td>{{ entity.fechaAlta }}</td>
                <td>{{ entity.fechaBaja }}</td>                
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.cuit }}</td>
                <td>{{ entity.email }}</td>
                -->
                <td>
                <a href="{{ path('clientes_toggle_proxy', { 'id': entity.id }) }}">
	                {% if entity.enrutaProxy == false %}
	                	Proxy
	               	{% else %}
	               		Directo
	                {% endif %}
	                </a>
	                <a href="{{ path('clientes_toggle_salida', { 'id': entity.id }) }}">
	                {% if entity.salidaHabilitada == false %}
	                	No Sale
	               	{% else %}
	               		Sale
	                {% endif %}
	                </a>
                </td>
                <td><a href="{{ asset('bundles/joezafiro/mrtg/172.16.0.') }}{{ entity.ip }}.html" target=_blank><img src="{{ asset('bundles/joezafiro/mrtg/172.16.0.') }}{{ entity.ip }}-day.png" width="150px"></a></td>
				<!--
                <td>
                    <a href="{{ path('clientes_show', { 'id': entity.id }) }}">show</a>
                    <a href="{{ path('clientes_edit', { 'id': entity.id }) }}">edit</a>
                </td>
                -->
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('clientes_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
