{% extends 'JoeZafiroBundle:Default:base.html.twig' %}

{% block body -%}
    <h1>Filtros list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Protocolo</th>
                <th>Origen</th>
                <th>Destino</th>
                <th>Puerto Origen</th>
                <th>Puerto Destino</th>
                <th>Estado</th>
                <th>Device IN</th>
                <th>Device Out</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('filtros_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.tipo }}</td>
                <td>{{ entity.ipsource }}</td>
                <td>{{ entity.ipdestino }}</td>
                <td>{{ entity.puertosource }}</td>
                <td>{{ entity.puertodestino }}</td>
                <td>{{ entity.estado }}</td>
                <td>{{ entity.interfaceentrada }}</td>
                <td>{{ entity.interfacesalida }}</td>
                <td>
                    <a href="{{ path('filtros_show', { 'id': entity.id }) }}">show</a>
                    <a href="{{ path('filtros_edit', { 'id': entity.id }) }}">edit</a>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('filtros_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
