{% extends 'JoeZafiroBundle:Default:base.html.twig' %}

{% block body -%}
    <h1>Planes</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ entity.valor }}</td>
            </tr>
            <tr>
                <th>D0h00</th>
                <td>{{ entity.d0h00 }}</td>
            </tr>
            <tr>
                <th>D0h01</th>
                <td>{{ entity.d0h01 }}</td>
            </tr>
            <tr>
                <th>D0h02</th>
                <td>{{ entity.d0h02 }}</td>
            </tr>
            <tr>
                <th>D0h03</th>
                <td>{{ entity.d0h03 }}</td>
            </tr>
            <tr>
                <th>D0h04</th>
                <td>{{ entity.d0h04 }}</td>
            </tr>
            <tr>
                <th>D0h05</th>
                <td>{{ entity.d0h05 }}</td>
            </tr>
            <tr>
                <th>D0h06</th>
                <td>{{ entity.d0h06 }}</td>
            </tr>
            <tr>
                <th>D0h07</th>
                <td>{{ entity.d0h07 }}</td>
            </tr>
            <tr>
                <th>D0h08</th>
                <td>{{ entity.d0h08 }}</td>
            </tr>
            <tr>
                <th>D0h09</th>
                <td>{{ entity.d0h09 }}</td>
            </tr>
            <tr>
                <th>D0h10</th>
                <td>{{ entity.d0h10 }}</td>
            </tr>
            <tr>
                <th>D0h11</th>
                <td>{{ entity.d0h11 }}</td>
            </tr>
            <tr>
                <th>D0h12</th>
                <td>{{ entity.d0h12 }}</td>
            </tr>
            <tr>
                <th>D0h13</th>
                <td>{{ entity.d0h13 }}</td>
            </tr>
            <tr>
                <th>D0h14</th>
                <td>{{ entity.d0h14 }}</td>
            </tr>
            <tr>
                <th>D0h15</th>
                <td>{{ entity.d0h15 }}</td>
            </tr>
            <tr>
                <th>D0h16</th>
                <td>{{ entity.d0h16 }}</td>
            </tr>
            <tr>
                <th>D0h17</th>
                <td>{{ entity.d0h17 }}</td>
            </tr>
            <tr>
                <th>D0h18</th>
                <td>{{ entity.d0h18 }}</td>
            </tr>
            <tr>
                <th>D0h19</th>
                <td>{{ entity.d0h19 }}</td>
            </tr>
            <tr>
                <th>D0h20</th>
                <td>{{ entity.d0h20 }}</td>
            </tr>
            <tr>
                <th>D0h21</th>
                <td>{{ entity.d0h21 }}</td>
            </tr>
            <tr>
                <th>D0h22</th>
                <td>{{ entity.d0h22 }}</td>
            </tr>
            <tr>
                <th>D0h23</th>
                <td>{{ entity.d0h23 }}</td>
            </tr>
            <tr>
                <th>D1h01</th>
                <td>{{ entity.d1h01 }}</td>
            </tr>
            <tr>
                <th>D1h02</th>
                <td>{{ entity.d1h02 }}</td>
            </tr>
            <tr>
                <th>D1h03</th>
                <td>{{ entity.d1h03 }}</td>
            </tr>
            <tr>
                <th>D1h04</th>
                <td>{{ entity.d1h04 }}</td>
            </tr>
            <tr>
                <th>D1h05</th>
                <td>{{ entity.d1h05 }}</td>
            </tr>
            <tr>
                <th>D1h06</th>
                <td>{{ entity.d1h06 }}</td>
            </tr>
            <tr>
                <th>D1h07</th>
                <td>{{ entity.d1h07 }}</td>
            </tr>
            <tr>
                <th>D1h08</th>
                <td>{{ entity.d1h08 }}</td>
            </tr>
            <tr>
                <th>D1h09</th>
                <td>{{ entity.d1h09 }}</td>
            </tr>
            <tr>
                <th>D1h10</th>
                <td>{{ entity.d1h10 }}</td>
            </tr>
            <tr>
                <th>D1h11</th>
                <td>{{ entity.d1h11 }}</td>
            </tr>
            <tr>
                <th>D1h12</th>
                <td>{{ entity.d1h12 }}</td>
            </tr>
            <tr>
                <th>D1h13</th>
                <td>{{ entity.d1h13 }}</td>
            </tr>
            <tr>
                <th>D1h14</th>
                <td>{{ entity.d1h14 }}</td>
            </tr>
            <tr>
                <th>D1h15</th>
                <td>{{ entity.d1h15 }}</td>
            </tr>
            <tr>
                <th>D1h16</th>
                <td>{{ entity.d1h16 }}</td>
            </tr>
            <tr>
                <th>D1h17</th>
                <td>{{ entity.d1h17 }}</td>
            </tr>
            <tr>
                <th>D1h18</th>
                <td>{{ entity.d1h18 }}</td>
            </tr>
            <tr>
                <th>D1h19</th>
                <td>{{ entity.d1h19 }}</td>
            </tr>
            <tr>
                <th>D1h20</th>
                <td>{{ entity.d1h20 }}</td>
            </tr>
            <tr>
                <th>D1h21</th>
                <td>{{ entity.d1h21 }}</td>
            </tr>
            <tr>
                <th>D1h22</th>
                <td>{{ entity.d1h22 }}</td>
            </tr>
            <tr>
                <th>D1h23</th>
                <td>{{ entity.d1h23 }}</td>
            </tr>
            <tr>
                <th>D2h01</th>
                <td>{{ entity.d2h01 }}</td>
            </tr>
            <tr>
                <th>D2h02</th>
                <td>{{ entity.d2h02 }}</td>
            </tr>
            <tr>
                <th>D2h03</th>
                <td>{{ entity.d2h03 }}</td>
            </tr>
            <tr>
                <th>D2h04</th>
                <td>{{ entity.d2h04 }}</td>
            </tr>
            <tr>
                <th>D2h05</th>
                <td>{{ entity.d2h05 }}</td>
            </tr>
            <tr>
                <th>D2h06</th>
                <td>{{ entity.d2h06 }}</td>
            </tr>
            <tr>
                <th>D2h07</th>
                <td>{{ entity.d2h07 }}</td>
            </tr>
            <tr>
                <th>D2h08</th>
                <td>{{ entity.d2h08 }}</td>
            </tr>
            <tr>
                <th>D2h09</th>
                <td>{{ entity.d2h09 }}</td>
            </tr>
            <tr>
                <th>D2h10</th>
                <td>{{ entity.d2h10 }}</td>
            </tr>
            <tr>
                <th>D2h11</th>
                <td>{{ entity.d2h11 }}</td>
            </tr>
            <tr>
                <th>D2h12</th>
                <td>{{ entity.d2h12 }}</td>
            </tr>
            <tr>
                <th>D2h13</th>
                <td>{{ entity.d2h13 }}</td>
            </tr>
            <tr>
                <th>D2h14</th>
                <td>{{ entity.d2h14 }}</td>
            </tr>
            <tr>
                <th>D2h15</th>
                <td>{{ entity.d2h15 }}</td>
            </tr>
            <tr>
                <th>D2h16</th>
                <td>{{ entity.d2h16 }}</td>
            </tr>
            <tr>
                <th>D2h17</th>
                <td>{{ entity.d2h17 }}</td>
            </tr>
            <tr>
                <th>D2h18</th>
                <td>{{ entity.d2h18 }}</td>
            </tr>
            <tr>
                <th>D2h19</th>
                <td>{{ entity.d2h19 }}</td>
            </tr>
            <tr>
                <th>D2h20</th>
                <td>{{ entity.d2h20 }}</td>
            </tr>
            <tr>
                <th>D2h21</th>
                <td>{{ entity.d2h21 }}</td>
            </tr>
            <tr>
                <th>D2h22</th>
                <td>{{ entity.d2h22 }}</td>
            </tr>
            <tr>
                <th>D2h23</th>
                <td>{{ entity.d2h23 }}</td>
            </tr>
            <tr>
                <th>D3h01</th>
                <td>{{ entity.d3h01 }}</td>
            </tr>
            <tr>
                <th>D3h02</th>
                <td>{{ entity.d3h02 }}</td>
            </tr>
            <tr>
                <th>D3h03</th>
                <td>{{ entity.d3h03 }}</td>
            </tr>
            <tr>
                <th>D3h04</th>
                <td>{{ entity.d3h04 }}</td>
            </tr>
            <tr>
                <th>D3h05</th>
                <td>{{ entity.d3h05 }}</td>
            </tr>
            <tr>
                <th>D3h06</th>
                <td>{{ entity.d3h06 }}</td>
            </tr>
            <tr>
                <th>D3h07</th>
                <td>{{ entity.d3h07 }}</td>
            </tr>
            <tr>
                <th>D3h08</th>
                <td>{{ entity.d3h08 }}</td>
            </tr>
            <tr>
                <th>D3h09</th>
                <td>{{ entity.d3h09 }}</td>
            </tr>
            <tr>
                <th>D3h10</th>
                <td>{{ entity.d3h10 }}</td>
            </tr>
            <tr>
                <th>D3h11</th>
                <td>{{ entity.d3h11 }}</td>
            </tr>
            <tr>
                <th>D3h12</th>
                <td>{{ entity.d3h12 }}</td>
            </tr>
            <tr>
                <th>D3h13</th>
                <td>{{ entity.d3h13 }}</td>
            </tr>
            <tr>
                <th>D3h14</th>
                <td>{{ entity.d3h14 }}</td>
            </tr>
            <tr>
                <th>D3h15</th>
                <td>{{ entity.d3h15 }}</td>
            </tr>
            <tr>
                <th>D3h16</th>
                <td>{{ entity.d3h16 }}</td>
            </tr>
            <tr>
                <th>D3h17</th>
                <td>{{ entity.d3h17 }}</td>
            </tr>
            <tr>
                <th>D3h18</th>
                <td>{{ entity.d3h18 }}</td>
            </tr>
            <tr>
                <th>D3h19</th>
                <td>{{ entity.d3h19 }}</td>
            </tr>
            <tr>
                <th>D3h20</th>
                <td>{{ entity.d3h20 }}</td>
            </tr>
            <tr>
                <th>D3h21</th>
                <td>{{ entity.d3h21 }}</td>
            </tr>
            <tr>
                <th>D3h22</th>
                <td>{{ entity.d3h22 }}</td>
            </tr>
            <tr>
                <th>D3h23</th>
                <td>{{ entity.d3h23 }}</td>
            </tr>
            <tr>
                <th>D4h01</th>
                <td>{{ entity.d4h01 }}</td>
            </tr>
            <tr>
                <th>D4h02</th>
                <td>{{ entity.d4h02 }}</td>
            </tr>
            <tr>
                <th>D4h03</th>
                <td>{{ entity.d4h03 }}</td>
            </tr>
            <tr>
                <th>D4h04</th>
                <td>{{ entity.d4h04 }}</td>
            </tr>
            <tr>
                <th>D4h05</th>
                <td>{{ entity.d4h05 }}</td>
            </tr>
            <tr>
                <th>D4h06</th>
                <td>{{ entity.d4h06 }}</td>
            </tr>
            <tr>
                <th>D4h07</th>
                <td>{{ entity.d4h07 }}</td>
            </tr>
            <tr>
                <th>D4h08</th>
                <td>{{ entity.d4h08 }}</td>
            </tr>
            <tr>
                <th>D4h09</th>
                <td>{{ entity.d4h09 }}</td>
            </tr>
            <tr>
                <th>D4h10</th>
                <td>{{ entity.d4h10 }}</td>
            </tr>
            <tr>
                <th>D4h11</th>
                <td>{{ entity.d4h11 }}</td>
            </tr>
            <tr>
                <th>D4h12</th>
                <td>{{ entity.d4h12 }}</td>
            </tr>
            <tr>
                <th>D4h13</th>
                <td>{{ entity.d4h13 }}</td>
            </tr>
            <tr>
                <th>D4h14</th>
                <td>{{ entity.d4h14 }}</td>
            </tr>
            <tr>
                <th>D4h15</th>
                <td>{{ entity.d4h15 }}</td>
            </tr>
            <tr>
                <th>D4h16</th>
                <td>{{ entity.d4h16 }}</td>
            </tr>
            <tr>
                <th>D4h17</th>
                <td>{{ entity.d4h17 }}</td>
            </tr>
            <tr>
                <th>D4h18</th>
                <td>{{ entity.d4h18 }}</td>
            </tr>
            <tr>
                <th>D4h19</th>
                <td>{{ entity.d4h19 }}</td>
            </tr>
            <tr>
                <th>D4h20</th>
                <td>{{ entity.d4h20 }}</td>
            </tr>
            <tr>
                <th>D4h21</th>
                <td>{{ entity.d4h21 }}</td>
            </tr>
            <tr>
                <th>D4h22</th>
                <td>{{ entity.d4h22 }}</td>
            </tr>
            <tr>
                <th>D4h23</th>
                <td>{{ entity.d4h23 }}</td>
            </tr>
            <tr>
                <th>D5h01</th>
                <td>{{ entity.d5h01 }}</td>
            </tr>
            <tr>
                <th>D5h02</th>
                <td>{{ entity.d5h02 }}</td>
            </tr>
            <tr>
                <th>D5h03</th>
                <td>{{ entity.d5h03 }}</td>
            </tr>
            <tr>
                <th>D5h04</th>
                <td>{{ entity.d5h04 }}</td>
            </tr>
            <tr>
                <th>D5h05</th>
                <td>{{ entity.d5h05 }}</td>
            </tr>
            <tr>
                <th>D5h06</th>
                <td>{{ entity.d5h06 }}</td>
            </tr>
            <tr>
                <th>D5h07</th>
                <td>{{ entity.d5h07 }}</td>
            </tr>
            <tr>
                <th>D5h08</th>
                <td>{{ entity.d5h08 }}</td>
            </tr>
            <tr>
                <th>D5h09</th>
                <td>{{ entity.d5h09 }}</td>
            </tr>
            <tr>
                <th>D5h10</th>
                <td>{{ entity.d5h10 }}</td>
            </tr>
            <tr>
                <th>D5h11</th>
                <td>{{ entity.d5h11 }}</td>
            </tr>
            <tr>
                <th>D5h12</th>
                <td>{{ entity.d5h12 }}</td>
            </tr>
            <tr>
                <th>D5h13</th>
                <td>{{ entity.d5h13 }}</td>
            </tr>
            <tr>
                <th>D5h14</th>
                <td>{{ entity.d5h14 }}</td>
            </tr>
            <tr>
                <th>D5h15</th>
                <td>{{ entity.d5h15 }}</td>
            </tr>
            <tr>
                <th>D5h16</th>
                <td>{{ entity.d5h16 }}</td>
            </tr>
            <tr>
                <th>D5h17</th>
                <td>{{ entity.d5h17 }}</td>
            </tr>
            <tr>
                <th>D5h18</th>
                <td>{{ entity.d5h18 }}</td>
            </tr>
            <tr>
                <th>D5h19</th>
                <td>{{ entity.d5h19 }}</td>
            </tr>
            <tr>
                <th>D5h20</th>
                <td>{{ entity.d5h20 }}</td>
            </tr>
            <tr>
                <th>D5h21</th>
                <td>{{ entity.d5h21 }}</td>
            </tr>
            <tr>
                <th>D5h22</th>
                <td>{{ entity.d5h22 }}</td>
            </tr>
            <tr>
                <th>D5h23</th>
                <td>{{ entity.d5h23 }}</td>
            </tr>
            <tr>
                <th>D6h01</th>
                <td>{{ entity.d6h01 }}</td>
            </tr>
            <tr>
                <th>D6h02</th>
                <td>{{ entity.d6h02 }}</td>
            </tr>
            <tr>
                <th>D6h03</th>
                <td>{{ entity.d6h03 }}</td>
            </tr>
            <tr>
                <th>D6h04</th>
                <td>{{ entity.d6h04 }}</td>
            </tr>
            <tr>
                <th>D6h05</th>
                <td>{{ entity.d6h05 }}</td>
            </tr>
            <tr>
                <th>D6h06</th>
                <td>{{ entity.d6h06 }}</td>
            </tr>
            <tr>
                <th>D6h07</th>
                <td>{{ entity.d6h07 }}</td>
            </tr>
            <tr>
                <th>D6h08</th>
                <td>{{ entity.d6h08 }}</td>
            </tr>
            <tr>
                <th>D6h09</th>
                <td>{{ entity.d6h09 }}</td>
            </tr>
            <tr>
                <th>D6h10</th>
                <td>{{ entity.d6h10 }}</td>
            </tr>
            <tr>
                <th>D6h11</th>
                <td>{{ entity.d6h11 }}</td>
            </tr>
            <tr>
                <th>D6h12</th>
                <td>{{ entity.d6h12 }}</td>
            </tr>
            <tr>
                <th>D6h13</th>
                <td>{{ entity.d6h13 }}</td>
            </tr>
            <tr>
                <th>D6h14</th>
                <td>{{ entity.d6h14 }}</td>
            </tr>
            <tr>
                <th>D6h15</th>
                <td>{{ entity.d6h15 }}</td>
            </tr>
            <tr>
                <th>D6h16</th>
                <td>{{ entity.d6h16 }}</td>
            </tr>
            <tr>
                <th>D6h17</th>
                <td>{{ entity.d6h17 }}</td>
            </tr>
            <tr>
                <th>D6h18</th>
                <td>{{ entity.d6h18 }}</td>
            </tr>
            <tr>
                <th>D6h19</th>
                <td>{{ entity.d6h19 }}</td>
            </tr>
            <tr>
                <th>D6h20</th>
                <td>{{ entity.d6h20 }}</td>
            </tr>
            <tr>
                <th>D6h21</th>
                <td>{{ entity.d6h21 }}</td>
            </tr>
            <tr>
                <th>D6h22</th>
                <td>{{ entity.d6h22 }}</td>
            </tr>
            <tr>
                <th>D6h23</th>
                <td>{{ entity.d6h23 }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('planes') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('planes_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
