{% extends 'JoeZafiroBundle:Default:base.html.twig' %}


{% block body -%}
    <h1>Firewall list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Comando</th>
                <th>Estado</th>
                <th>Comentario</th>
                <th>Orden</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('firewall_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.comando }}</td>
                <td>{{ entity.estado }}</td>
                <td>{{ entity.comentario }}</td>
                <td>{{ entity.orden }}</td>
                <td>
                    <a href="{{ path('firewall_show', { 'id': entity.id }) }}">show</a>
                    <a href="{{ path('firewall_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('firewall_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
