{% extends 'JoeZafiroBundle:Default:base.html.twig' %}

{% block body -%}
    <h1>Canales list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Subida</th>
                <th>Bajada</th>
                <th>Estado</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('canales_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.subida }}</td>
                <td>{{ entity.bajada }}</td>
                <td>{{ entity.estado }}</td>
                <td>{{ entity.nombre }}</td>
                <td>
                    <a href="{{ path('canales_show', { 'id': entity.id }) }}">show</a>
                    <a href="{{ path('canales_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('canales_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
